@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* root */
* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* header */
.header-logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.header-logo span {
    font-size: 50px;
}

body {
    padding-top: 4rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
    background: #ffffff;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid 1px black;
    height: 5rem;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    position: relative;

}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #000000;
    position: absolute;
    right: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;
    color: #000000;

}

nav ul li a:hover {

    color: #000000;
    transition: 0.5s;

}

/* Slider-1-start */
.slider {
    padding-left: 2%;
    padding-right: 2%;
    border: #ffffff;
}

.slider-container {
    overflow: hidden;
    position: relative;
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 30px;
}

.slider-images {
    display: flex;
    animation: slide 10s infinite;

}

.slider-images img {

    width: 100%;

}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }

}
/* Slider-1-end */


/* service-start */
.service-container {
    height: 100vh;
    border: solid 2px #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 30px;
}
/* service-cart-start */

.service {
    background-color: #ffffff;
    height: 98.35vh;
    margin: 5px;
    border-radius: 25px;
    border: solid 1px #ececec;
    overflow: hidden;
    display: flex;
}

.service-card {
    height: 100vh;
    background-color: #ffffff;
    width: 30%;
    overflow: hidden;
}

.service-card-insider {
    height: 96.8vh;
    border: solid 2px #ececec;
    margin: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;


}

.service-card-insider ul li {
    list-style: none;
}

.service-card-insider ul li a {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #000000;
}

.service-card-insider ul li a span {
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #dc3545;
}

.cart {
    height: 70vh;
    background: #ececec;
    width: 97%;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    padding-top: 2rem;
}

.cart div {
    width: 100%;
    display: grid;
    justify-items: center;
}
.cart-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.orderNow
{
    width: 150px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 7px;
    text-decoration: none;
    height: 37px;
    text-align: center;
    padding: 0.2rem;
    transition: all .40s;
    box-shadow:  0 8px 8px 0 rgb(219, 219, 219);
}

.orderNow:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    box-shadow:  0 8px 8px 0 rgb(163, 163, 163);
}
/* service-cart-end */

/* service-product-start */
.service-product {
    height: 100vh;
    background-color: #ececec;
    width: 70%;
    overflow: hidden;
}

.service-product-insider {
    height: 96.8vh;
    border: solid 2px white;
    margin: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    padding: 1rem;

}
.product-card {
    height: 480px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    border: solid 1px #e0e0e0;
    padding: 10px;
    overflow: hidden;
}

.product-card-img {
    height: 190px;
    border-radius: 8px;
    border: #e7e7e7 solid 1px ;
    overflow: hidden;
}

.product-card img {
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;

}

.product-card-description {
    height: 100px;
    overflow: hidden;
    overflow-y: auto;
}

.product-card-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
/* service-product-end */
/* service-end */

/* slider-2-start */

.slider2 {
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 30px;
}



.review-card {
    width: 100%;
    height: 60vh;
    background-color: #ececec;
    display: flex;
    justify-content: space-between;

}

.review-card img {
    max-width: 100%;
    border: 2px solid #ececec;
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;

}

.review {
    width: 50%;
    border: solid 1px #ffffff;
    display: grid;
    row-gap: 0%;
    justify-items: center;
    padding: 3rem;
}

.slider-container {
    border: solid 1px rgb(255, 255, 255);
}

.rev-product-img {
    height: 200px;
    transition: .5s;

}

.rev-product-img:hover {
    height: 220px;

}

.review div {
    text-align: center;
    color: #000000;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-left: 1rem;
}

.user-img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    background: cover;
    padding-top: 1rem;
    padding-right: 1rem;

}

.fa-star {
    color: rgb(255, 166, 1);
    transition: 0.5s;
    font-size: 30px;

}

.fa-star:hover {
    color: rgb(233, 158, 19);
    font-size: 40px;
}

/* slider-2-end */

/* feedback-section-start */

.feedback {
    height: 70vh;
    margin-left: 2rem;
    margin-right: 2rem;
    border: solid 1px #ffffff;
    border-radius: 30px;
    overflow: hidden;
}

.feedback-review-card {
    width: 100%;
    height: 70vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;

}

.feedback-review-card img {
    max-width: 100%;
    border: 2px solid #ffffff;
    overflow: hidden;
    border-radius: 5px;

}

.feedback-review-selcted-product {
    width: 50%;
    display: grid;
    row-gap: 0%;
    justify-items: center;
    padding: 3rem;
}


.feedback-rev-product-img {
    height: 200px;
    transition: .5s;

}

.feedback-rev-product-img:hover {
    height: 220px;
}

.feedback-review-selcted-product div {
    text-align: center;
    color: #000000;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-left: 1rem;
}

.feedback-user-review {
    width: 50%;
    background-color: #ffffff;
    padding: 2rem;
    display: grid;
    align-items: center;
}
/* feedback-section-end */


/* Combo-aboutus-contactus-footer-extra */
.combo {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: #d6d4d4;
}

.about-us {
    width: 45%;
    text-align: justify;
}

.contact-us {
    width: 45%;
}

.fa-facebook {
    color: #4267B2;
}

.fa-instagram {
    color: #d62976;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-whatsapp {
    color: #25D366;
}

.fa-envelope {
    color: #EA4335;
}

.contact-us a {
    text-decoration: none;
    color: #d6d4d4;
}

footer {
    text-align: center;
    width: 100%;
    background: #000000;
    font-weight: 300;
    position: absolute;
    left: 0;

}



.quickmart{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}